<div class="header-description text-center">
  <div class="header-content animated">
    <h1 class="heading">Travel Bae</h1>
    <p class="heading-subtitle">
      Health Information for Your Vacation
    </p>
  </div> <!-- /.header-content -->

  <div class="wow zoomIn button-down" data-wow-duration="1s" data-wow-offset="100">
    <div class="wow tada" data-wow-delay="1s" data-wow-duration="1s">
      <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
        <div class="wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
          <button class="btn btn-primary" role="button">Check it Out</button>


        </div>
      </div>
    </div>
  </div>
</div> <!-- /.header-description -->